set relativenumber
set ignorecase
set smartcase
set easymotion
set surround
set commentary

set number
" map ESC to jk
inoremap jk <esc>
vnoremap jk <esc>
let mapleader = " "
" Yank to clipboard
set clipboard+=unnamed
set idearefactormode=keep
" These create newlines like o and O but stay in normal mode
nmap zj o<Esc>k
nmap zk O<Esc>j

nmap <leader>h <action>(NextSplitter)
nmap <leader>l <action>(PrevSplitter)
nmap <leader>r <action>(Run)
nmap <leader>d <action>(GotoDeclaration)
nmap <leader>s <action>(GotoSuperMethod)
nmap <leader>i <action>(GotoImplementation)
nmap <leader>u <action>(FindUsages)
nmap <leader>n <action>(Back)
nmap <leader>. <action>(Forward)
nmap <leader>y <action>(PreviousTab)
nmap <leader>o <action>(NextTab)
nmap <leader>f <action>(SelectInProjectView)
nmap <leader>c <action>(RenameElement)
nmap <leader>t <action>(ExpressionTypeInfo)
nmap <leader>e <action>(GotoNextError)
nmap <leader>a <action>(RearrangeCode)
nmap <leader>j <action>(RecentFiles)
nmap <leader>k <action>(GotoClass)
