" DOCUMENTATION
"" Source your .vimrc
" :source ~/.ideavimrc
"" See all available commands
" :actionlist

set scrolloff=10
set incsearch
set hlsearch
nnoremap <esc> :noh<return><esc>
set linenumber
set highlightedyank
set showmode
set showcmd
set visualbell
set clipboard+=unnamed
set relativenumber
set number
set ignorecase
set smartcase
set easymotion
"set surround
"set commentary
set NERDTree
set which-key
set notimeout

inoremap <C-j> <Action>(PopupMenu-selectNext)
inoremap <C-k> <Action>(PopupMenu-selectPrev)
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
vnoremap < <gv
vnoremap > >gv

" map ESC to jk
inoremap jk <esc>
vnoremap jk <esc>
let mapleader = " "
" yank to clipboard
set clipboard+=unnamed
set idearefactormode=keep
" these create newlines like o and O but stay in normal mode
nmap zj o<Esc>k
nmap zk O<Esc>j


nmap <leader>ff <action>(GotoFile)
vmap <leader>ff <action>(GotoFile)
nmap <leader>fw <action>(SearchEverywhere)
vmap <leader>fw <action>(SearchEverywhere)
nmap [d <action>(MethodUp)
nmap ]d <action>(MethodDown)
nmap <leader>K <action>(QuickJavaDoc)
"nmap <leader>; <action>(QuickJavaDoc)
nmap <leader>/ <action>(CommentByLineComment)
vmap <leader>/ <action>(CommentByLineComment)
"vmap <leader>f <action>(ExtractFunction)
nmap <leader>gb <action>(Annotate)
nmap <leader>b <action>(ToggleLineBreakpoint)
nmap <leader>p <action>(ShowSettings)
nmap <leader>a <action>(HideAllWindows)
nmap <A-a> <action>(HideAllWindows)
nmap <leader>x <action>(CloseEditor)
nmap <leader>. <action>(NextSplitter)
nmap <leader>n <action>(PrevSplitter)
nmap <leader>r <action>(Run)
nmap gd <action>(GotoDeclaration)
"nmap <leader>d <action>(GotoDeclaration)
nmap <leader>s <action>(GotoSuperMethod)
nmap gi <action>(GotoImplementation)
"nmap <leader>i <action>(GotoImplementation)
nmap gr <action>(FindUsages)
"nmap <leader>u <action>(FindUsages)
nmap <leader>h <action>(Back)
nmap <leader>l <action>(Forward)
nmap <leader>j <action>(PreviousTab)
nmap <leader>j <action>(PreviousTab)
nmap <leader>k <action>(NextTab)
nmap <leader>e <action>(SelectInProjectView)
"nmap <leader>f <action>(SelectInProjectView)
nmap <leader>ra <action>(RenameElement)
"nmap <leader>c <action>(RenameElement)
nmap <leader>D <action>(GotoTypeDeclaration)
nmap <leader>t <action>(ExpressionTypeInfo)
"nmap <leader>e <action>(GotoNextError)
nmap <leader>z <action>(ReformatCode)
nmap <leader>fo <action>(RecentFiles)
"nmap <leader>m <action>(RecentFiles)
nmap <leader>, <action>(GotoClass)
nmap <leader>y <action>(CollapseRegion)
nmap <leader>o <action>(ExpandRegion)
nmap <leader>q <action>(GotoTest)
nmap <leader>ws <action>(SplitHorizontally)
nmap <leader>wv <action>(SplitVertically)
nmap <leader>wd <action>(ToggleDistractionFreeMode)
nmap <leader>wz <action>(ToggleZenMode)
" nmap <leader>ff <action>(ToggleFullScreen)

" Find more examples here:
" https://www.cyberwizard.io/posts/the-ultimate-ideavim-setup/
" https://jb.gg/share-ideavimrc
